<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <link rel='stylesheet' href='css/styles.css' media='all'>
        <meta charset="utf-8">
        <title>Favorite Word Counter</title>
    </head>
    <body>
        <div class="container">
            <h2>Your favorite word appears {{ results }} time(s)!</h2>
            <a href="/"><button type="submit" class="btn btn-danger btn-lrg">Play Again!</button>
        </div>
    </body>
</html>
