<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Word Match Counter</title>
    </head>
    <body>
        <div class="container">
            <h1>Do You Have a Favorite Word?</h1>
            <h3>Find out how many times your favorite word appears in a sentence!</h3>
            <form action="/results">
                <div class="form-group">
                    <label for="word">Insert Your Favorite Word:</label>
                    <input id="word" name="word" type="text" class="form-contol" placeholder="Type Your Favorite Word Here">
                </div>
                <div class="form-group">
                    <label for="string">Now Type a Sentece with that Word:</label>
                    <input id="string" name="string" type="text" class="form-control" placeholder="Type Your Sentece Here">
                </div>
                <button type="submit" class="btn-danger">Let's Go!</button>
            </form>
        </div>
    </body>
</html>
